#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_37 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 #s-Label_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=28);
  filter: alpha(opacity=28);
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-6f6abf62-283f-46fa-97b6-5e9886fac7b6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}