#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rich_text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=28);
  filter: alpha(opacity=28);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Black-cover_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-TimerDialog {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-sleeptimer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-timerlabel {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-bg {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-hamburger {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Timer {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86);
  filter: alpha(opacity=86);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icons_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Panel_5 > .valign {
  vertical-align: top;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_27 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icon_phone_19 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_34 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icon_phone_20 {
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_4 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_5 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_6 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_8 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99);
  filter: alpha(opacity=99);
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}