#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98) ;
  filter: alpha(opacity=98) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=28) ;
  filter: alpha(opacity=28) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Black-cover_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-TimerDialog {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-sleeptimer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-timerlabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_36 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-hamburger {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Timer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=86) ;
  filter: alpha(opacity=86) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24) ;
  filter: alpha(opacity=24) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icon_phone_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Two-line-item_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Icon_phone_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=99) ;
  filter: alpha(opacity=99) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a6b50c07-6a49-4aa3-89b8-ec8f7bfa8978 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}